<link rel="stylesheet" href="/stylesheets/account.css">



  <nav>
    <a href="/show">Shrieks</a>
    <a href="/account">Account</a>
    <a href="/logout">Log out</a>


<h1>Account Info</h1>
<h2>User ID</h2>
<p><%= @other_user.id %></p>

<br>

<h2>Current Username</h2>
<p> <%= @other_user.username %> </p>

<br>

<h2>Location</h2>
<p> <%= @other_user.location %> </p>

<br>

<h2>Age</h2>
<p> <%= @other_user.age %> </p>

<br>

<h2>Pet Peeves</h2>
<p> <%= @other_user.petpeeves %> </p>

<br>

<section>
  <h3>Your Shrieks!</h3>
  <ul style="list-style-type:none">
    <% @other_user.posts.each do |post| %>
      <li>
          <p><%= post.text %></p>
      </li>
    <% end %>
  </ul>
</section>
</nav>
