<link href="https://fonts.googleapis.com/css?family=Frijole|Nosifer|Spectral+SC" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/account.css">

<nav>
  <a href="/show">Shrieks</a>
  <a href="/account">Account</a>
  <a href="/logout">Log out</a>
</nav>

<main>
  <div class="info">
    <div class="account-head">
      <h2>User ID</h2>
      <p><%= @user.id %></p>
      <h2>Current Username</h2>
      <p>
        <%= @user.username %>
      </p>
    </div>

    <div class="account-info">
      <h2>Account Info</h2>
      <p>
        <%= @user.location %>
      </p>
      <p>
        <%= @user.age %>
      </p>
      <p>
        <%= @user.petpeeves %>
      </p>
    </div>

    <div class="change-info">
      <form id="update-info" action="/info" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="location" value="<%= @user.location %>">
        <input type="text" name="age" value="<%= @user.age %>">
        <input type="text" name="petpeeves" value="<%= @user.petpeeves %>">
        <input type="submit" value="Change">
      </form>
    </div>

    <div class="delete-account">
      <h2>Delete your account</h2>
      <a href="/deleteaccount">Delete Account</a>
    </div>
  </div>

  <div class="shrieks">
    <h3>Your Shrieks!</h3>
    <ul style="list-style-type:none">
      <% @user.posts.each do |post| %>
      <li>
        <p><%= post.text %></p>
      </li>
      <% end %>
    </ul>
  </div>

  <footer></footer>
