<h1>Welcome,
  <%= @user.username %></h1>
<p>Your user id is
  <%= @user.id %></p></h1>

<h2>Add new post (if this is your own page)</h2>

<form action="/show" method="post">
<textarea name="text" rows="8" cols="80" maxlength="280">Here's some sample text.</textarea>
<input type="submit" value="Shrieks!">
</form>

<h2>See posts</h2>


<section>
  <h3>Your Shrieks!</h3>
  <ul style="list-style-type:none">
    <% @user.posts.last(10).each do |post| %>
      <li>
          <p><%= post.text.upcase %>!!!</p>

output = post.text.upcase

replacements = {
  "CANNOT" => "CAN",
  "CAN'T" => "CAN",
  "WON'T" => "WILL",
  "NOT" => '',
  "COULDN'T" => "COULD",
  "SHOULDN'T" => "SHOULD",
  "WOULDN'T" => "WOULD",
  "ISN'T" => "IS",
  "AREN'T" => "ARE",
  "DOES" => "DOESN'T",
  "DO" => "DON'T",

  "CAN" => "CAN'T",
  "WILL" => "WON'T",
  "COULD"=> "COULDN'T",
  "SHOULD" => "SHOULDN'T",
  "WOULD" => "WOULDN'T",
  "IS" => "ISN'T",
  "ARE" => "AREN'T",
  "DOESN'T" => "DOES",
  "DON'T" => "DO"
}


output = output.split(' ')
output = output.map do |e|
  replacements.fetch(e, e)
end

output.delete('')
output = output.join(' ')

output.gsub! "I ", "THIS FILTH"
output.gsub! "I'M", "THIS FILTH ISN'T"
output.gsub! "I'LL", "THIS FILTH WON'T"
output.gsub! "THE ", "THE GODDAMN"
output.gsub! "A ", "A FREAKING "
output.gsub! "TO ", "TO DISGUSTINGLY "

index = (rand() * 10).to_i
topicalArray = ["THANKS OBAMA, ", "GODDAMIT! ", "FOR THE LAST TIME, ", "WHY DOESN'T ANYONE REALIZE THAT ", "JESUS, ", "THE NEW WORLD ORDER! ", "THAT'S WHAT'S WRONG WITH THIS COUNTRY- ", "THIS IS THE LAST THING I NEED, ", "MY PARENTS NEVER LOVED ME, THAT'S WHY ", "NOOOOOOO, ", "YOU KNOW WHAT GRINDS MY GEARS - "]

output.gsub! '.', '!!!'
puts topicalArray[index] + output + "!!!"

      </li>
    <% end %>
  </ul>
</section>

<section>
  <h3>Other Shrieks!</h3>
  <div class="postGrid">
    <% Post.last(10).reverse.each do |post| %>
    <div class="idColumn">
      <ul>
        <li>
          <p> <a name="user_link" href="/account/<%= post.user_id %>"> <%= post.user.username %> </a> </p>
        </li>
      </ul>
    </div>
    <div class="textColumn">
      <ul style="list-style-type:none">
        <li>
           <p><%= post.text %></p>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</section>
